.headerContainer 
 display: flex
 flex-direction: row
 align-items: center
 justify-content: space-between
 height: 60px
 padding: 0 16px
 color: var(--text-primary)
 background-color:  var(--background-front)
 
 .leftheader 
  display: flex
  flex-direction: row
  align-items: center

 .logoHeader 
  padding-left: 15px
  max-width: 150px
  max-height: 40px

 .searchBox 
  display: flex
  font-size: 40px
  border: 1px solid var(--border)
  border-radius: 50px
  .searchHeader 
   width: 30vw
   max-width: 500px
   border-top-left-radius: 50px
   border-bottom-left-radius: 50px
   border: 1px solid var(--border) 
   .searchImg 
    padding-left: 10px
   
 .rightDiv 
  display: flex
  flex-direction: row
  align-items: center

