.App {
  text-align: center;
}
a {
  text-decoration: none;
  color: rgb(200, 200, 200);
}
ul {
  padding: 0;
  margin: 0;
  text-decoration: 0;
}
li {
  list-style-type: none;
  text-decoration: none;
}

.active {
  color: rgb(221, 57, 177);
  border-bottom: 1px solid gray;
}
